strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
@kamona:registry=https://gitlab.com/api/v4/projects/47237311/packages/npm/
//gitlab.com/api/v4/projects/47237311/packages/npm/:_authToken="gldt-z_RzSTPzDgJpE5opdGLp"
